* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to bottom, rgb(68, 99, 160), rgb(113, 135, 180),rgb(164, 180, 233));
  background-size: auto auto;
  font-family: 'Roboto', sans-serif;
}

@media (min-width: 400px) {
  body {
    font-size: 18px;
  }
}

@media (min-width: 600px) {
  body {
    font-size: 22px;
  }
}

header {
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100vw;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
  
}

.menu a {
  color: teal;
  display: block;
  padding: 10px;
  text-decoration: none;
}

.menu a:hover {
  text-decoration: underline;
}

.site-title {
  color: whitesmoke;
  text-align: center;
  margin-bottom: 1em;
}

.site-subtitle {
  color: silver;
  font-style: italic;
  font-weight: lighter;
  text-align: center;
  font-size: 1em;
}

.itens-portifolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  text-align: center;
  font-weight: bold;
  color: rgb(230, 238, 245);;;
  font-size: 1.2em;
  font-family: 'roboto';
  
}

.site-info1 {
  text-align: center;
  font-weight: bold;
  color: rgb(230, 238, 245);;;
  margin-bottom: 1em;
  font-size: 2.2em;
    font-family: 'Roboto', sans-serif;
}

.image-portifolio {
  width: 70vw;
  justify-content: center;
  margin-bottom: 0.5em;
  box-shadow: 0.2em 0.1em 1em 2px rgb(255, 255, 255, 0.2);
}

.skills {
  text-decoration: none;
  justify-content: center;
}